<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}

<div class="tile-area no-padding">
  <div class="tile-container">
    {% for movie in movies %}
      <div class="cell">
        <a href="{{ url_for('playlocal', video=movie) }}" class="tile-wide">
          <div class="tile-content">
            <div class="frame">
              <img src="{{ movies[movie].cover_pic }}" data-role="fitImage" data-format="square"/>
            </div>
            <div class="image-overlay">
              {{ movies[movie].film_description }}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
